body {
	text-align: center;
	background-image: linear-gradient(red, yellow);
	background-repeat: no-repeat;
}

div {
	padding-top: 20px;
}

.menu{
	list-style: none;
	font-family: cursive;
	float: right;
	top: 10px;
	right: 30px;
	cursor: pointer;
	color: black;
	
		
}
